* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-container {
    margin-top: 5px;
}

.button-container button {
    color: #fff;
    background-color: rgb(35, 133, 106);
    padding: 8px;
    border-radius: 15%;
    border: 1px solid #000;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.button-container button:hover {
    transition: background-color 0.5s ease;
    background-color: rgb(71, 110, 182);
    color: #000;
}

.el-to-change--first-state {
    background-color: rgb(70, 71, 53);
    color: #fff;
}

.el-to-change--second-state {
    background-color: rgb(46, 109, 95);
    color: #000;
}

.outer-img-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 25%;
    gap: 10px;
}

.img-container {
    overflow: hidden;
    width: 100%;
}

.img-container a {
    display: block;
    transition: transform 0.5s ease;
    width: 100%;
}

.img-container a img {
    width: 100%;
}